* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-top: 25px;
  font-size: 3rem;
}

.input {
  width: 600px;
  height: 300px;
  margin: 25px 50px;
  padding: 5px;
  font-size: 1.5rem;
}
.button__translate {
  height: 50px;
  width: 250px;
  margin: 10px 200px;
}
